body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
 
:root {
    --azul-bebe: #1cd8cf;
}
 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c5c58;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
}
 
.logo a {
    color: #1df1e6;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 60px;
}
 
.logo-main {
    color: #1ad8ce;
    font-size: 80px;
    margin: 100px 0px 40px 0px;
    font-weight: bold;
}
 
.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
 
.nav-list li a {
    color: #1df1e6;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
}
 
.btn-experimente {
    background-color: #1ad8ce;
    color: rgb(19, 15, 15);
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 60px;
}
 
.btn-comeceGratis  {
    background-color: #1ad8ce;
    color: rgb(19, 15, 15);
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin: 100px 0px 40px 0px;
 
}
 
.btn-comeceAgora{
    background-color: #1ad8ce;
    color: rgb(19, 15, 15);
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin: 100px 0px 40px 0px;
    margin-bottom: 20px;
}
 
main {
   
    padding: 40px;
    text-align: center;
}
 
.containe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 
.fidel {
    color: #1cd8cf;
    display: flex;
    justify-content: baseline;
    margin-left: 40px;
    font-size: 50px;
    font-weight: bold;
}
 
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}
 
.feature {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-style: groove;
    width: 300px;
    height: 550px;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
 
.list-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    list-style-type: none;
    padding: 0;
}
 
.feature h3 {
    background-color: var(--azul-bebe);
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
}
 
.principal p {
    margin-bottom: 10px;
    font-weight: bold;
}
 
.list-main li {
    margin-bottom: 10px;
}