body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dashboard {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.dashboard-header {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.dashboard-welcome {
    text-align: center;
    margin: 20px 0;
}

.dashboard-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.blue { background-color: #007bff; }
.green { background-color: #28a745; }
.orange { background-color: #fd7e14; }
.purple { background-color: #6f42c1; }

.section {
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-top: 0;
    color: #333;
}

.blue-bg { background-color: #e7f3ff; }
.green-bg { background-color: #e8f5e9; }
.orange-bg { background-color: #fff4e6; }
.purple-bg { background-color: #f3e6ff; }

.close-btn {
    float: right;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: #333;
}

.dashboard-sections {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f0f0;
}

.dashboard-sections .section {
    width: 30%;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-sections .section:last-child {
    margin-right: 0;
}

.dashboard-buttons + .section {
    margin-top: 20px;
}

#membrosTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

#membrosTable th, #membrosTable td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#membrosTable th {
    background-color: #67c089; /* Cor de fundo do cabeçalho da tabela */
    color: white;
    text-align: center;
}

#membrosTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#membrosTable tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#membrosTable td {
    text-align: center;
}

#membrosTable td button {
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#membrosTable td button:hover {
    background-color: #0056b3;
}

